@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
